### Import m·ªôt s·ªë th∆∞ vi·ªán c·∫ßn thi·∫øt

In [1]:
import pandas as pd
import numpy as np

### 1. ƒê·ªçc d·ªØ li·ªáu v√† x·ª≠ l√Ω NaN

In [2]:
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition_DIRTY.csv', na_values=["na", "nn", "nan","NaN", "null", "none", " "])
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
print(f"üì• ƒê√£ ƒë·ªçc: {df.shape[0]} h√†ng, {df.shape[1]} c·ªôt")
df.head()

üì• ƒê√£ ƒë·ªçc: 1608 h√†ng, 36 c·ªôt

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DateOfResignation
0,41.0,Yes,Travel_Rarely,1091.0,Sales,2.0,2.0,Life Sciences,1.0,74.0,...,80.0,0.0,8.0,0.0,1.0,6.0,4.0,0.0,5.0,11/25/2021 10:30
1,49.0,No,Travel_Frequently,2523.0,Research & Development,8.0,1.0,Life Sciences,1.0,48.0,...,80.0,1.0,11.0,3.0,3.0,10.0,7.0,19.0,7.0,NaN
2,37.0,Yes,Travel_Rarely,1353.0,Research & Development,2.0,2.0,Other,1.0,38.0,...,80.0,0.0,7.0,3.0,3.0,0.0,0.0,0.0,0.0,4/12/2017 10:30
3,32.0,No,Travel_Frequently,1404.0,RESEARCH & DEVELOPMENT,4.0,4.0,Life Sciences,1.0,-3.0,...,80.0,0.0,8.0,3.0,3.0,NaN,7.0,3.0,0.0,NaN
4,27.0,No,Travel_Rarely,626.0,Research & Development,3.0,1.0,Medical,1.0,41.0,...,80.0,1.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,NaN

### 2. Xo√° tr√πng l·∫∑p

In [3]:
before = df.shape[0]
df = df.drop_duplicates()
print(f"ƒê√£ xo√° {before - df.shape[0]} d√≤ng tr√πng l·∫∑p")

ƒê√£ xo√° 138 d√≤ng tr√πng l·∫∑p

### 3. X·ª≠ l√Ω missing values

In [4]:
# Bi·∫øn to√†n c·ª•c ƒë·ªÉ lo·∫°i tr·ª´ c·ªôt kh√¥ng x·ª≠ l√Ω missing value
EXCLUDED_COLS = ['DateOfResignation']

# 1. ƒê·∫øm gi√° tr·ªã NaN tr∆∞·ªõc x·ª≠ l√Ω (lo·∫°i tr·ª´ EXCLUDED_COLS)
missing_before = df.drop(columns=EXCLUDED_COLS, errors='ignore').isna().sum().sum()
print(f"S·ªë gi√° tr·ªã c√≤n thi·∫øu tr∆∞·ªõc x·ª≠ l√Ω (lo·∫°i tr·ª´ {EXCLUDED_COLS}): {missing_before}")

# 2. X√°c ƒë·ªãnh c·ªôt s·ªë v√† c·ªôt chu·ªói, tr·ª´ c·ªôt b·ªã lo·∫°i
num_cols = df.select_dtypes(include=np.number).columns.difference(EXCLUDED_COLS)
cat_cols = df.select_dtypes(include='object').columns.difference(EXCLUDED_COLS)

# 3. C·ªôt s·ªë ‚Üí ƒëi·ªÅn gi√° tr·ªã trung b√¨nh
df[num_cols] = df[num_cols].fillna(df[num_cols].mean(numeric_only=True))

# 4. C·ªôt chu·ªói ‚Üí ƒëi·ªÅn gi√° tr·ªã ph·ªï bi·∫øn nh·∫•t (mode)
for col in cat_cols:
    if df[col].isnull().sum() > 0:
        df[col] = df[col].fillna(df[col].mode(dropna=True)[0])

# 5. In th√¥ng tin sau x·ª≠ l√Ω
missing_after = df.drop(columns=EXCLUDED_COLS, errors='ignore').isna().sum().sum()
print("ƒê√£ x·ª≠ l√Ω missing values (tr·ª´ c·ªôt ƒë∆∞·ª£c lo·∫°i).")
print(f"S·ªë gi√° tr·ªã c√≤n thi·∫øu sau x·ª≠ l√Ω (lo·∫°i tr·ª´ {EXCLUDED_COLS}): {missing_after}")

df.head()

S·ªë gi√° tr·ªã c√≤n thi·∫øu tr∆∞·ªõc x·ª≠ l√Ω (lo·∫°i tr·ª´ ['DateOfResignation']): 2455
ƒê√£ x·ª≠ l√Ω missing values (tr·ª´ c·ªôt ƒë∆∞·ª£c lo·∫°i).
S·ªë gi√° tr·ªã c√≤n thi·∫øu sau x·ª≠ l√Ω (lo·∫°i tr·ª´ ['DateOfResignation']): 0

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DateOfResignation
0,41.0,Yes,Travel_Rarely,1091.0,Sales,2.0,2.0,Life Sciences,1.0,74.0,...,80.0,0.0,8.0,0.0,1.0,6.000000,4.0,0.0,5.0,11/25/2021 10:30
1,49.0,No,Travel_Frequently,2523.0,Research & Development,8.0,1.0,Life Sciences,1.0,48.0,...,80.0,1.0,11.0,3.0,3.0,10.000000,7.0,19.0,7.0,NaN
2,37.0,Yes,Travel_Rarely,1353.0,Research & Development,2.0,2.0,Other,1.0,38.0,...,80.0,0.0,7.0,3.0,3.0,0.000000,0.0,0.0,0.0,4/12/2017 10:30
3,32.0,No,Travel_Frequently,1404.0,RESEARCH & DEVELOPMENT,4.0,4.0,Life Sciences,1.0,-3.0,...,80.0,0.0,8.0,3.0,3.0,7.301013,7.0,3.0,0.0,NaN
4,27.0,No,Travel_Rarely,626.0,Research & Development,3.0,1.0,Medical,1.0,41.0,...,80.0,1.0,6.0,3.0,3.0,2.000000,2.0,2.0,2.0,NaN

### 4. Chu·∫©n ho√° chu·ªói: strip + title

In [5]:
# H√†m chu·∫©n ho√°: lo·∫°i b·ªè kho·∫£ng tr·∫Øng, chu·∫©n h√≥a ch·ªØ vi·∫øt th∆∞·ªùng
def clean_text(text):
    if pd.isna(text): return text
    return str(text).strip().lower()

# √Åp d·ª•ng tr∆∞·ªõc: chu·∫©n ho√° s∆° b·ªô t·∫•t c·∫£ chu·ªói
for col in cat_cols:
    df[col] = df[col].apply(clean_text)

# V·ªõi c√°c c·ªôt d·ªÖ b·ªã l·ªói ch√≠nh t·∫£ ‚Üí ch·ªâ gi·ªØ top ph·ªï bi·∫øn
for col in ['Department', 'JobRole', 'BusinessTravel']:
    top_values = df[col].value_counts().index[:3]  # Top 3 gi√° tr·ªã ƒë√∫ng th∆∞·ªùng g·∫∑p nh·∫•t
    df[col] = df[col].apply(lambda x: x if x in top_values else np.nan)
    df[col] = df[col].fillna(df[col].mode(dropna=True)[0])

# Optional: vi·∫øt hoa ch·ªØ c√°i ƒë·∫ßu sau khi l√†m s·∫°ch
for col in cat_cols:
    df[col] = df[col].apply(lambda x: str(x).title() if pd.notna(x) else x)

# In 5 gi√° tr·ªã ƒë·∫ßu m·ªói c·ªôt chu·ªói
print("üî§ ƒê√£ chu·∫©n ho√° + l·ªçc l·ªói ch√≠nh t·∫£ b·∫±ng t·∫ßn su·∫•t:")
for col in cat_cols:
    print(f"\n C·ªôt `{col}` sau x·ª≠ l√Ω:")
    print(df[col].dropna().unique()[:5])

üî§ ƒê√£ chu·∫©n ho√° + l·ªçc l·ªói ch√≠nh t·∫£ b·∫±ng t·∫ßn su·∫•t:

 C·ªôt `Attrition` sau x·ª≠ l√Ω:
['Yes' 'No']

 C·ªôt `BusinessTravel` sau x·ª≠ l√Ω:
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

 C·ªôt `Department` sau x·ª≠ l√Ω:
['Sales' 'Research & Development' 'Human Resources']

 C·ªôt `EducationField` sau x·ª≠ l√Ω:
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree']

 C·ªôt `Gender` sau x·ª≠ l√Ω:
['Female' 'Male']

 C·ªôt `JobRole` sau x·ª≠ l√Ω:
['Sales Executive' 'Laboratory Technician' 'Research Scientist']

 C·ªôt `MaritalStatus` sau x·ª≠ l√Ω:
['Single' 'Married' 'Divorced']

 C·ªôt `Over18` sau x·ª≠ l√Ω:
['Y']

 C·ªôt `OverTime` sau x·ª≠ l√Ω:
['Yes' 'No']

### 5. L√†m tr√≤n t·∫•t c·∫£ c·ªôt s·ªë n·∫øu c√≥ th·ªÉ

In [6]:
rounded_cols = [] 

for col in num_cols:
    if (df[col].dropna() % 1 == 0).all():
        df[col] = df[col].astype(int)
        rounded_cols.append(col)
    else:
        # N·∫øu c√≥ s·ªë th·∫≠p ph√¢n, th·ª≠ l√†m tr√≤n tr∆∞·ªõc
        df[col] = df[col].round()
        # Sau khi l√†m tr√≤n, n·∫øu t·∫•t c·∫£ ƒë·ªÅu l√† s·ªë nguy√™n th√¨ √©p ki·ªÉu int
        if (df[col].dropna() % 1 == 0).all():
            df[col] = df[col].astype(int)
            rounded_cols.append(col)

if rounded_cols:
    print("C√°c c·ªôt s·ªë ƒë√£ ƒë∆∞·ª£c l√†m tr√≤n v√† √©p v·ªÅ ki·ªÉu `int`:")
    for col in rounded_cols:
        print(f"  - {col}")
else:
    print("Kh√¥ng c√≥ c·ªôt s·ªë n√†o ƒë·ªß ƒëi·ªÅu ki·ªán ƒë·ªÉ √©p v·ªÅ ki·ªÉu `int`.")

C√°c c·ªôt s·ªë ƒë√£ ƒë∆∞·ª£c l√†m tr√≤n v√† √©p v·ªÅ ki·ªÉu `int`:
  - Age
  - DailyRate
  - DistanceFromHome
  - Education
  - EmployeeCount
  - EmployeeNumber
  - EnvironmentSatisfaction
  - HourlyRate
  - JobInvolvement
  - JobLevel
  - JobSatisfaction
  - MonthlyIncome
  - MonthlyRate
  - NumCompaniesWorked
  - PercentSalaryHike
  - PerformanceRating
  - RelationshipSatisfaction
  - StandardHours
  - StockOptionLevel
  - TotalWorkingYears
  - TrainingTimesLastYear
  - WorkLifeBalance
  - YearsAtCompany
  - YearsInCurrentRole
  - YearsSinceLastPromotion
  - YearsWithCurrManager

### 6. Clip outliers b·∫±ng IQR

In [7]:
# H√†m clip gi√° tr·ªã ngo·∫°i lai b·∫±ng IQR
def clip_outliers(df, cols):
    clipped_cols = []  # Danh s√°ch c·ªôt ƒë√£ ƒë∆∞·ª£c x·ª≠ l√Ω outliers

    for col in cols:
        Q1 = df[col].quantile(0.25)  # Ph√¢n v·ªã th·ª© 1 (25%)
        Q3 = df[col].quantile(0.75)  # Ph√¢n v·ªã th·ª© 3 (75%)
        IQR = Q3 - Q1  # Kho·∫£ng t·ª© ph√¢n v·ªã

        lower = Q1 - 1.5 * IQR  # Ng∆∞·ª°ng d∆∞·ªõi
        upper = Q3 + 1.5 * IQR  # Ng∆∞·ª°ng tr√™n

        # L∆∞u l·∫°i c·ªôt n·∫øu c√≥ √≠t nh·∫•t 1 gi√° tr·ªã b·ªã clip
        if ((df[col] < lower) | (df[col] > upper)).any():
            clipped_cols.append(col)

        # √Åp d·ª•ng clipping
        df[col] = df[col].clip(lower, upper)

    # In k·∫øt qu·∫£
    if clipped_cols:
        print("ƒê√£ x·ª≠ l√Ω outliers b·∫±ng IQR cho c√°c c·ªôt:")
        for col in clipped_cols:
            print(f"  - {col}")
    else:
        print("Kh√¥ng ph√°t hi·ªán outliers v∆∞·ª£t ng∆∞·ª°ng IQR n√†o c·∫ßn clip.")

    return df

# G·ªçi h√†m x·ª≠ l√Ω
df = clip_outliers(df, num_cols)

#7. L√†m tr√≤n l·∫°i n·∫øu clip t·∫°o s·ªë th·∫≠p ph√¢n
for col in num_cols:
    df[col] = df[col].round()

converted_to_int = []
for col in num_cols:
    if (df[col].dropna() % 1 == 0).all():  # Ki·ªÉm tra xem t·∫•t c·∫£ ƒë·ªÅu l√† s·ªë nguy√™n
        df[col] = df[col].astype(int)
        converted_to_int.append(col)

if converted_to_int:
    print("C√°c c·ªôt ƒë√£ ƒë∆∞·ª£c √©p ki·ªÉu v·ªÅ int:", converted_to_int)
else:
    print("‚ÑπKh√¥ng c√≥ c·ªôt n√†o ƒë·ªß ƒëi·ªÅu ki·ªán ƒë·ªÉ √©p v·ªÅ int.")

ƒê√£ x·ª≠ l√Ω outliers b·∫±ng IQR cho c√°c c·ªôt:
  - Age
  - DailyRate
  - DistanceFromHome
  - Education
  - EmployeeNumber
  - HourlyRate
  - MonthlyIncome
  - MonthlyRate
  - NumCompaniesWorked
  - PercentSalaryHike
  - PerformanceRating
  - StockOptionLevel
  - TotalWorkingYears
  - TrainingTimesLastYear
  - YearsAtCompany
  - YearsInCurrentRole
  - YearsSinceLastPromotion
  - YearsWithCurrManager
C√°c c·ªôt ƒë√£ ƒë∆∞·ª£c √©p ki·ªÉu v·ªÅ int: ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

### Lo·∫°i b·ªè c√°c d√≤ng c√≥ gi√° tr·ªã √¢m trong b·∫•t k·ª≥ c·ªôt s·ªë n√†o

In [8]:
num_cols = df.select_dtypes(include=[np.number]).columns

negative_mask = (df[num_cols] < 0).any(axis=1)

rows_with_negatives = df[negative_mask].shape[0]

negatives = {}
for col in num_cols:
    if (df[col] < 0).any():
        negatives[col] = df[df[col] < 0][col].unique()
if negatives:
    print("C√°c c·ªôt c√≥ ch·ª©a gi√° tr·ªã √¢m:")
    for col, vals in negatives.items():
        print(f"  - {col}: {list(vals)}")
else:
    print("Kh√¥ng ph√°t hi·ªán gi√° tr·ªã √¢m trong b·∫•t k·ª≥ c·ªôt s·ªë n√†o.")
df = df[~negative_mask]
print(f"ƒê√£ lo·∫°i b·ªè {rows_with_negatives} d√≤ng c√≥ gi√° tr·ªã √¢m trong c·ªôt s·ªë")

C√°c c·ªôt c√≥ ch·ª©a gi√° tr·ªã √¢m:
  - EmployeeNumber: [np.int64(-3), np.int64(-47), np.int64(-31), np.int64(-38), np.int64(-51), np.int64(-23), np.int64(-14)]
  - YearsAtCompany: [np.int64(-1)]
  - YearsSinceLastPromotion: [np.int64(-1)]
ƒê√£ lo·∫°i b·ªè 10 d√≤ng c√≥ gi√° tr·ªã √¢m trong c·ªôt s·ªë

### 8. L∆∞u k·∫øt qu·∫£

In [ ]:
output_path = "./dataset/hr_employee_attrition.csv"
df.to_csv(output_path, index=False)
print(f"ƒê√£ l∆∞u file s·∫°ch t·∫°i: {output_path}")

ƒê√£ l∆∞u file s·∫°ch t·∫°i: ./hr_employee_attrition.csv

### 5 d√≤ng ƒë·∫ßu sau khi l√†m s·∫°ch

In [10]:
df2 = pd.read_csv(output_path)
df2.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DateOfResignation
0,41,Yes,Travel_Rarely,1091,Sales,2,2,Life Sciences,1,74,...,80,0,8,0,1,6,4,0,5,11/25/2021 10:30
1,49,No,Travel_Frequently,2143,Research & Development,8,1,Life Sciences,1,48,...,80,1,11,3,3,10,7,5,7,NaN
2,37,Yes,Travel_Rarely,1353,Research & Development,2,2,Other,1,38,...,80,0,7,3,3,0,0,0,0,4/12/2017 10:30
3,27,No,Travel_Rarely,626,Research & Development,3,1,Medical,1,41,...,80,1,6,3,3,2,2,2,2,NaN
4,60,No,Travel_Rarely,1348,Research & Development,2,3,Medical,1,45,...,80,2,12,3,2,1,0,0,0,NaN