### Import m·ªôt s·ªë th∆∞ vi·ªán c·∫ßn thi·∫øt

In [17]:
import pandas as pd
import numpy as np

### 1. ƒê·ªçc d·ªØ li·ªáu v√† x·ª≠ l√Ω NaN

In [18]:
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition_DIRTY.csv', na_values=["na", "nn", "nan","NaN", "null", "none", " "])
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
print(f"üì• ƒê√£ ƒë·ªçc: {df.shape[0]} h√†ng, {df.shape[1]} c·ªôt")
df.head()

üì• ƒê√£ ƒë·ªçc: 1608 h√†ng, 36 c·ªôt

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DateOfResignation
0,41.0,Yes,NaN,1123.0,Sales,1.0,2.0,Life Sciences,NaN,1,...,80.0,0.0,7.0,0.0,1.0,6.0,4.0,0.0,5.0,11/25/2021 10:30
1,48.0,No,Travel_Frequently,273.0,Research & Development,8.0,1.0,Life Sciences,1.0,2,...,80.0,1.0,12.0,3.0,3.0,10.0,7.0,1.0,7.0,8/9/2019 10:30
2,37.0,NaN,Travel_Rarely,NaN,Research & Development,2.0,2.0,Other,1.0,4,...,80.0,0.0,7.0,3.0,3.0,0.0,0.0,0.0,0.0,4/12/2017 10:30
3,32.0,No,Travel_Frequently,1395.0,Research & Development,2.0,4.0,Life Sciences,1.0,5,...,80.0,0.0,8.0,3.0,3.0,8.0,NaN,3.0,0.0,3/23/2021 10:30
4,27.0,No,Travel_Rarely,585.0,Research & Development,2.0,1.0,Medical,1.0,7,...,80.0,1.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,5/7/2021 10:30

### 2. Xo√° tr√πng l·∫∑p

In [19]:
before = df.shape[0]
df = df.drop_duplicates()
print(f"‚úÖ ƒê√£ xo√° {before - df.shape[0]} d√≤ng tr√πng l·∫∑p")

‚úÖ ƒê√£ xo√° 138 d√≤ng tr√πng l·∫∑p

### 3. X·ª≠ l√Ω missing values

In [20]:
# 1. ƒê·∫øm gi√° tr·ªã NaN tr∆∞·ªõc x·ª≠ l√Ω
missing_before = df.isna().sum().sum()
print(f"‚ùì S·ªë gi√° tr·ªã c√≤n thi·∫øu tr∆∞·ªõc x·ª≠ l√Ω: {missing_before}")
# 2. X√°c ƒë·ªãnh c·ªôt s·ªë v√† c·ªôt chu·ªói
num_cols = df.select_dtypes(include=np.number).columns
cat_cols = df.select_dtypes(include='object').columns

# 3. C·ªôt s·ªë ‚Üí ƒëi·ªÅn gi√° tr·ªã trung b√¨nh (mean)
df[num_cols] = df[num_cols].fillna(df[num_cols].mean(numeric_only=True))

# 4. C·ªôt chu·ªói ‚Üí ƒëi·ªÅn gi√° tr·ªã ph·ªï bi·∫øn nh·∫•t (mode)
for col in cat_cols:
    if df[col].isnull().sum() > 0:
        df[col] = df[col].fillna(df[col].mode(dropna=True)[0])

# 5. In th√¥ng tin sau x·ª≠ l√Ω
print("üßº ƒê√£ x·ª≠ l√Ω missing values.")
print(f"S·ªë gi√° tr·ªã c√≤n thi·∫øu sau x·ª≠ l√Ω: {df.isna().sum().sum()}")
df.head()  # Hi·ªÉn th·ªã b·∫£ng d·ªØ li·ªáu ƒë·∫ßu ti√™n

‚ùì S·ªë gi√° tr·ªã c√≤n thi·∫øu tr∆∞·ªõc x·ª≠ l√Ω: 2460
üßº ƒê√£ x·ª≠ l√Ω missing values.
S·ªë gi√° tr·ªã c√≤n thi·∫øu sau x·ª≠ l√Ω: 0

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DateOfResignation
0,41.0,Yes,Travel_Rarely,1123.000000,Sales,1.0,2.0,Life Sciences,1.0,1,...,80.0,0.0,7.0,0.0,1.0,6.0,4.000000,0.0,5.0,11/25/2021 10:30
1,48.0,No,Travel_Frequently,273.000000,Research & Development,8.0,1.0,Life Sciences,1.0,2,...,80.0,1.0,12.0,3.0,3.0,10.0,7.000000,1.0,7.0,8/9/2019 10:30
2,37.0,No,Travel_Rarely,826.244253,Research & Development,2.0,2.0,Other,1.0,4,...,80.0,0.0,7.0,3.0,3.0,0.0,0.000000,0.0,0.0,4/12/2017 10:30
3,32.0,No,Travel_Frequently,1395.000000,Research & Development,2.0,4.0,Life Sciences,1.0,5,...,80.0,0.0,8.0,3.0,3.0,8.0,4.415658,3.0,0.0,3/23/2021 10:30
4,27.0,No,Travel_Rarely,585.000000,Research & Development,2.0,1.0,Medical,1.0,7,...,80.0,1.0,6.0,3.0,3.0,2.0,2.000000,2.0,2.0,5/7/2021 10:30

### 4. Chu·∫©n ho√° chu·ªói: strip + title

In [21]:
# H√†m chu·∫©n ho√°: lo·∫°i b·ªè kho·∫£ng tr·∫Øng, chu·∫©n h√≥a ch·ªØ vi·∫øt th∆∞·ªùng
def clean_text(text):
    if pd.isna(text): return text
    return str(text).strip().lower()

# √Åp d·ª•ng tr∆∞·ªõc: chu·∫©n ho√° s∆° b·ªô t·∫•t c·∫£ chu·ªói
for col in cat_cols:
    df[col] = df[col].apply(clean_text)

# V·ªõi c√°c c·ªôt d·ªÖ b·ªã l·ªói ch√≠nh t·∫£ ‚Üí ch·ªâ gi·ªØ top ph·ªï bi·∫øn
for col in ['Department', 'JobRole', 'BusinessTravel']:
    top_values = df[col].value_counts().index[:3]  # Top 3 gi√° tr·ªã ƒë√∫ng th∆∞·ªùng g·∫∑p nh·∫•t
    df[col] = df[col].apply(lambda x: x if x in top_values else np.nan)
    df[col] = df[col].fillna(df[col].mode(dropna=True)[0])

# Optional: vi·∫øt hoa ch·ªØ c√°i ƒë·∫ßu sau khi l√†m s·∫°ch
for col in cat_cols:
    df[col] = df[col].apply(lambda x: str(x).title() if pd.notna(x) else x)

# In 5 gi√° tr·ªã ƒë·∫ßu m·ªói c·ªôt chu·ªói
print("üî§ ƒê√£ chu·∫©n ho√° + l·ªçc l·ªói ch√≠nh t·∫£ b·∫±ng t·∫ßn su·∫•t:")
for col in cat_cols:
    print(f"\nüìå C·ªôt `{col}` sau x·ª≠ l√Ω:")
    print(df[col].dropna().unique()[:5])

üî§ ƒê√£ chu·∫©n ho√° + l·ªçc l·ªói ch√≠nh t·∫£ b·∫±ng t·∫ßn su·∫•t:

üìå C·ªôt `Attrition` sau x·ª≠ l√Ω:
['Yes' 'No']

üìå C·ªôt `BusinessTravel` sau x·ª≠ l√Ω:
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

üìå C·ªôt `Department` sau x·ª≠ l√Ω:
['Sales' 'Research & Development' 'Human Resources']

üìå C·ªôt `EducationField` sau x·ª≠ l√Ω:
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree']

üìå C·ªôt `Gender` sau x·ª≠ l√Ω:
['Female' 'Male']

üìå C·ªôt `JobRole` sau x·ª≠ l√Ω:
['Sales Executive' 'Research Scientist' 'Laboratory Technician']

üìå C·ªôt `MaritalStatus` sau x·ª≠ l√Ω:
['Single' 'Married' 'Divorced']

üìå C·ªôt `Over18` sau x·ª≠ l√Ω:
['Y']

üìå C·ªôt `OverTime` sau x·ª≠ l√Ω:
['Yes' 'No']

üìå C·ªôt `DateOfResignation` sau x·ª≠ l√Ω:
['11/25/2021 10:30' '8/9/2019 10:30' '4/12/2017 10:30' '3/23/2021 10:30'
 '5/7/2021 10:30']

### 5. L√†m tr√≤n t·∫•t c·∫£ c·ªôt s·ªë n·∫øu c√≥ th·ªÉ

In [22]:
# üî¢ L√†m tr√≤n c√°c c·ªôt s·ªë v√† chuy·ªÉn v·ªÅ ki·ªÉu int n·∫øu ph√π h·ª£p
rounded_cols = []  # Danh s√°ch l∆∞u t√™n c√°c c·ªôt ƒë√£ √©p ki·ªÉu v·ªÅ int

for col in num_cols:
    # B·ªè qua gi√° tr·ªã NaN v√† ki·ªÉm tra xem t·∫•t c·∫£ c√≥ ph·∫£i s·ªë nguy√™n kh√¥ng (modulo 1 == 0)
    if (df[col].dropna() % 1 == 0).all():
        df[col] = df[col].astype(int)
        rounded_cols.append(col)
    else:
        # N·∫øu c√≥ s·ªë th·∫≠p ph√¢n, th·ª≠ l√†m tr√≤n tr∆∞·ªõc
        df[col] = df[col].round()
        # Sau khi l√†m tr√≤n, n·∫øu t·∫•t c·∫£ ƒë·ªÅu l√† s·ªë nguy√™n th√¨ √©p ki·ªÉu int
        if (df[col].dropna() % 1 == 0).all():
            df[col] = df[col].astype(int)
            rounded_cols.append(col)

# ‚úÖ In ra c√°c c·ªôt ƒë√£ ƒë∆∞·ª£c √©p v·ªÅ ki·ªÉu int
if rounded_cols:
    print("üî¢ C√°c c·ªôt s·ªë ƒë√£ ƒë∆∞·ª£c l√†m tr√≤n v√† √©p v·ªÅ ki·ªÉu `int`:")
    for col in rounded_cols:
        print(f"  - {col}")
else:
    print("‚ö†Ô∏è Kh√¥ng c√≥ c·ªôt s·ªë n√†o ƒë·ªß ƒëi·ªÅu ki·ªán ƒë·ªÉ √©p v·ªÅ ki·ªÉu `int`.")

üî¢ C√°c c·ªôt s·ªë ƒë√£ ƒë∆∞·ª£c l√†m tr√≤n v√† √©p v·ªÅ ki·ªÉu `int`:
  - Age
  - DailyRate
  - DistanceFromHome
  - Education
  - EmployeeCount
  - EmployeeNumber
  - EnvironmentSatisfaction
  - HourlyRate
  - JobInvolvement
  - JobLevel
  - JobSatisfaction
  - MonthlyIncome
  - MonthlyRate
  - NumCompaniesWorked
  - PercentSalaryHike
  - PerformanceRating
  - RelationshipSatisfaction
  - StandardHours
  - StockOptionLevel
  - TotalWorkingYears
  - TrainingTimesLastYear
  - WorkLifeBalance
  - YearsAtCompany
  - YearsInCurrentRole
  - YearsSinceLastPromotion
  - YearsWithCurrManager

### 6. Clip outliers b·∫±ng IQR

In [23]:
# üìâ H√†m clip gi√° tr·ªã ngo·∫°i lai b·∫±ng IQR
def clip_outliers(df, cols):
    clipped_cols = []  # Danh s√°ch c·ªôt ƒë√£ ƒë∆∞·ª£c x·ª≠ l√Ω outliers

    for col in cols:
        Q1 = df[col].quantile(0.25)  # Ph√¢n v·ªã th·ª© 1 (25%)
        Q3 = df[col].quantile(0.75)  # Ph√¢n v·ªã th·ª© 3 (75%)
        IQR = Q3 - Q1  # Kho·∫£ng t·ª© ph√¢n v·ªã

        lower = Q1 - 1.5 * IQR  # Ng∆∞·ª°ng d∆∞·ªõi
        upper = Q3 + 1.5 * IQR  # Ng∆∞·ª°ng tr√™n

        # L∆∞u l·∫°i c·ªôt n·∫øu c√≥ √≠t nh·∫•t 1 gi√° tr·ªã b·ªã clip
        if ((df[col] < lower) | (df[col] > upper)).any():
            clipped_cols.append(col)

        # √Åp d·ª•ng clipping
        df[col] = df[col].clip(lower, upper)

    # In k·∫øt qu·∫£
    if clipped_cols:
        print("üìâ ƒê√£ x·ª≠ l√Ω outliers b·∫±ng IQR cho c√°c c·ªôt:")
        for col in clipped_cols:
            print(f"  - {col}")
    else:
        print("‚úÖ Kh√¥ng ph√°t hi·ªán outliers v∆∞·ª£t ng∆∞·ª°ng IQR n√†o c·∫ßn clip.")

    return df

# G·ªçi h√†m x·ª≠ l√Ω
df = clip_outliers(df, num_cols)

#7. L√†m tr√≤n l·∫°i n·∫øu clip t·∫°o s·ªë th·∫≠p ph√¢n
for col in num_cols:
    df[col] = df[col].round()

# N·∫øu to√†n b·ªô gi√° tr·ªã sau l√†m tr√≤n l√† s·ªë nguy√™n th√¨ chuy·ªÉn ki·ªÉu d·ªØ li·ªáu t·ª´ float -> int
converted_to_int = []
for col in num_cols:
    if (df[col].dropna() % 1 == 0).all():  # Ki·ªÉm tra xem t·∫•t c·∫£ ƒë·ªÅu l√† s·ªë nguy√™n
        df[col] = df[col].astype(int)
        converted_to_int.append(col)

if converted_to_int:
    print("üî¢ C√°c c·ªôt ƒë√£ ƒë∆∞·ª£c √©p ki·ªÉu v·ªÅ int:", converted_to_int)
else:
    print("‚ÑπÔ∏è Kh√¥ng c√≥ c·ªôt n√†o ƒë·ªß ƒëi·ªÅu ki·ªán ƒë·ªÉ √©p v·ªÅ int.")

üìâ ƒê√£ x·ª≠ l√Ω outliers b·∫±ng IQR cho c√°c c·ªôt:
  - Age
  - DailyRate
  - DistanceFromHome
  - Education
  - HourlyRate
  - JobLevel
  - MonthlyIncome
  - MonthlyRate
  - NumCompaniesWorked
  - PercentSalaryHike
  - PerformanceRating
  - StockOptionLevel
  - TotalWorkingYears
  - TrainingTimesLastYear
  - YearsAtCompany
  - YearsInCurrentRole
  - YearsSinceLastPromotion
  - YearsWithCurrManager
üî¢ C√°c c·ªôt ƒë√£ ƒë∆∞·ª£c √©p ki·ªÉu v·ªÅ int: ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

### Lo·∫°i b·ªè c√°c d√≤ng c√≥ gi√° tr·ªã √¢m trong b·∫•t k·ª≥ c·ªôt s·ªë n√†o

In [24]:
num_cols = df.select_dtypes(include=[np.number]).columns

negative_mask = (df[num_cols] < 0).any(axis=1)

rows_with_negatives = df[negative_mask].shape[0]

negatives = {}
for col in num_cols:
    if (df[col] < 0).any():
        negatives[col] = df[df[col] < 0][col].unique()
if negatives:
    print("‚ùó C√°c c·ªôt c√≥ ch·ª©a gi√° tr·ªã √¢m:")
    for col, vals in negatives.items():
        print(f"  - {col}: {list(vals)}")
else:
    print("‚úÖ Kh√¥ng ph√°t hi·ªán gi√° tr·ªã √¢m trong b·∫•t k·ª≥ c·ªôt s·ªë n√†o.")
df = df[~negative_mask]
print(f"üóëÔ∏è ƒê√£ lo·∫°i b·ªè {rows_with_negatives} d√≤ng c√≥ gi√° tr·ªã √¢m trong c·ªôt s·ªë")

‚ùó C√°c c·ªôt c√≥ ch·ª©a gi√° tr·ªã √¢m:
  - YearsAtCompany: [np.int64(-1)]
  - YearsInCurrentRole: [np.int64(-1)]
üóëÔ∏è ƒê√£ lo·∫°i b·ªè 5 d√≤ng c√≥ gi√° tr·ªã √¢m trong c·ªôt s·ªë

### 8. L∆∞u k·∫øt qu·∫£

In [ ]:
output_path = "./dataset/hr_employee_attrition.csv"
df.to_csv(output_path, index=False)
print(f"üíæ ƒê√£ l∆∞u file s·∫°ch t·∫°i: {output_path}")

üíæ ƒê√£ l∆∞u file s·∫°ch t·∫°i: WA_Fn-UseC_-HR-Employee-Attrition_CLEAN_FOR_VIS.csv

### 5 d√≤ng ƒë·∫ßu sau khi l√†m s·∫°ch

In [26]:
df2 = pd.read_csv(output_path)
df2.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DateOfResignation
0,41,Yes,Travel_Rarely,1123,Sales,1,2,Life Sciences,1,1,...,80,0,7,0,1,6,4,0,5,11/25/2021 10:30
1,48,No,Travel_Frequently,273,Research & Development,8,1,Life Sciences,1,2,...,80,1,12,3,3,10,7,1,7,8/9/2019 10:30
2,37,No,Travel_Rarely,826,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,4/12/2017 10:30
3,32,No,Travel_Frequently,1395,Research & Development,2,4,Life Sciences,1,5,...,80,0,8,3,3,8,4,3,0,3/23/2021 10:30
4,27,No,Travel_Rarely,585,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,5/7/2021 10:30